openapi: 3.0.3
info:
  description: API zum Abruf passender empfohlener Finanzierungsvorschläge.
  version: 0.0.5
  title: Empfohlene Finanzierungsvorschläge API
  contact:
    name: Europace AG
    url: https://www.europace2.de
    email: helpdesk@europace2.de
servers:
  - url: https://baufismart.api.europace.de
    description: Production server
paths:
  /angebote:
    post:
      summary: Empfohlene Finanzierungsvorschläge ermitteln (derzeit genau einen)
      operationId: ermittleVorschlaege
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErfassteDaten'
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        400:
          description: Bad request
        422:
          description: Unprocessable Entity (wird zurückgegeben, wenn der Input valide ist, aber dennoch keine Angebote ermittelt werden konnten)
        405:
          description: Invalid input
        500:
          description: Internal server error
      security:
        - OAuth2:
            - read
components:
  schemas:
    ErfassteDaten:
      type: object
      properties:
        haushalte:
          type: array
          items:
            $ref: '#/components/schemas/Haushalt'
          minimum: 1
          maximum: 4
        finanzierungsobjekt:
          $ref: '#/components/schemas/FinanzierungsObjekt'
        praeferenzen:
          $ref: '#/components/schemas/Praeferenzen'
      required:
        - haushalt
        - finanzierungsObjekt
        - praeferenzen
    Haushalt:
      type: object
      properties:
        kunden:
          type: array
          items:
            $ref: '#/components/schemas/Kunde'
          minimum: 1
          maximum: 2
        finanzielleSituation:
          $ref: '#/components/schemas/FinanzielleSituation'
    FinanzielleSituation:
      type: object
      properties:
        eigenKapital:
          type: number
          example: 14500
          description: in Euro
        sonstigeEinnahmen:
          type: number
          example: 380
          description: Einnahmen, die nicht in `nettoEinkommen` erfasst sind. In Euro, monatlich
        nichtAbgeloestePrivateDarlehenRestschuld:
          type: number
          example: 42000
        nichtAbgeloesteRatenkrediteRestschuld:
          type: number
          example: 8500
    Kunde:
      type: object
      properties:
        beschaeftigtSeit:
          type: string
          format: date
          example: 2015-05-21
        arbeitBefristet:
          type: boolean
          description: true, wenn Beschäftigungsverhältnis befristet ist, ansonsten false
        nettoEinkommen:
          type: number
          description: in Euro, jährlich
        geburtsDatum:
          type: string
          format: date
          example: 1991-05-21
        beschaeftigungsArt:
          type: string
          description: |
            Kann einen der folgenden Werte annehmen:
              - ANGESTELLTER
              - ARBEITER
              - BEAMTER
              - FREIBERUFLER
              - SELBSTSTAENDIGER
              - RENTER
              - HAUSMANN
              - ARBEITSLOSER
      required:
        - nettoEinkommen
    FinanzierungsObjekt:
      type: object
      properties:
        objektArt:
          type: string
          description: |
            Kann einen der folgenden Werte annehmen:
            - DOPPELHAUSHAELFTE
            - EINFAMILIENHAUS
            - MEHRFAMILIENHAUS
            - REIHENHAUS
            - ZWEIFAMILIENHAUS
            - GRUNDSTUECK
            - EIGENTUMSWOHNUNG
        verwendungsZweck:
          type: string
          description: |
            Kann einen der folgenden Werte annehmen:
            - ANSCHLUSSFINANZIERUNG
            - KAUF
            - KAUF_NEUBAU_VOM_BAUTRAEGER
            - MODERNISIERUNG_UMBAU_ANBAU
            - NEUBAU
            - KAPITALBESCHAFFUNG
        vermietet:
          type: boolean
          description: true, wenn das Objekt vermietet ist, ansonsten false
        baujahr:
          type: integer
        gewerbeEinheit:
          type: boolean
          description: true, wenn das Objekt überwiegend oder ausschließlich gewerblich genutzt wird, ansonsten false
        anschrift:
          $ref: '#/components/schemas/Anschrift'
        wohnFlaeche:
          type: number
          description: in Quadratmetern, irrelevant bei objektArt = GRUNDSTUECK
          example: 120.50
        grundstueckKaufpreis:
          type: number
          description: in Euro
          example: 380000
        gesamtKosten:
          type: number
          description: Primäre Kosten zum Erwerb / Erstellung des Objekts ohne grundstueckKaufpreis und Nebenkosten (Notargebühren, Grunderwerbssteuer, ...)
          example: 250000
    Anschrift:
      type: object
      properties:
        plz:
          type: string
          example: 10117
          description: Postleitzahl
        ort:
          type: string
          example: Berlin
        strasse:
          type: string
          description: ohne Hausnummer (siehe Feld 'hausnummer')
        hausnummer:
          type: string
          example: 17a
    Praeferenzen:
      type: object
      properties:
        wunschRate:
          type: number
          description: in Euro, monatlich
        einzugsDatum:
          type: string
          format: date
          example: 2022-05-21
        kreditEntscheiungsZeit:
          type: string
          format: date
          example: 2021-06-21
          description: bis wann ist eine Entscheidung seitens des Produktanbieters gewünscht?
        laufzeit:
          type: string
          description: |
            Bis wann soll die Finanzierung vollständig zurückgezahlt sein?
            Kann einen der folgenden Werte annehmen:
            - SCHNELLST_MOEGLICH
            - BIS_ZUR_RENTE
            - EGAL
        bausparerErlaubt:
          type: boolean
          description: sind Bauspar-Angebote eine Option?
        foerderDarlehenErlaubt:
          type: boolean
          description: sind Förder-Darlehen (z.B. KfW) eine Option?
    FinanzierungsVorschlaege:
      type: object
      properties:
        vorschlaege:
          type: array
          items:
            $ref: '#/components/schemas/FinanzierungsVorschlag'
    FinanzierungsVorschlag:
      type: object
      properties:
        annahmeFrist:
          type: string
          format: date
          example: 2021-05-21
        bausparAngebote:
          type: array
          items:
            $ref: '#/components/schemas/BausparAngebot'
        darlehen:
          type: array
          items:
            $ref: '#/components/schemas/Darlehen'
        darlehensSumme:
          type: number
        sollZins:
          type: number
        effektivZins:
          type: number
        kennung:
          type: string
        machbarkeit:
          type: integer
          description: Wahrscheinlichkeit mit der ein ProduktAnbieter dieses Vorhaben unterstützen wird (1=unwahrscheinlich 100=sehr wahrscheinlich)
          minimum: 1
          maximum: 100
        rank:
          type: integer
          minimum: 0
          example: 0
          description: 0-basierter Rang dieses Vorschlages im Vergleich zu anderen Vorschlägen. Je kleiner, desto besser passt der Vorschlag zum Wunsch. Derzeit liefert die API nur den am besten passenden Vorschlag.
    BausparAngebot:
      type: object
      properties:
        gebuehrenSumme:
          type: number
          description: Summe aller Gebühren (Abschluss- Kontoführungsgebühr, ...), in Euro
        bausparSumme:
          type: number
          description: in Euro
        gesamtLaufzeit:
          type: integer
          description: in Jahren
        produktAnbieter:
          type: string
        sparRate:
          type: number
          description: in Euro, monatlich
        tilgungsRate:
          type: number
          description: in Euro, monatlich
        tilgungsZins:
          type: number
          description: Prozent, hundert-basiert
          example: 1.56
    Darlehen:
      type: object
      properties:
        auszahlungsBetrag:
          type: number
          description: Netto DarlehensBetrag in Euro
        auszahlungsDatum:
          type: string
          format: date
          example: 2022-08-21
        darlehensBetrag:
          type: number
        sollZins:
          type: number
          description: in Prozent, hundert-basiert
          example: 2.34
        effektivZins:
          type: number
          description: in Prozent, hundert-basiert
          example: 2.56
        produktAnbieter:
          type: string
          description: über die Finanzierung entscheidender ProduktAnbieter
        gesamtKosten:
          type: number
          description: in Euro
          example: 450000
        gesamtLaufzeit:
          type: integer
          description: (kalkulatorische) Laufzeit der Finanzierung
        rate:
          type: number
          description: monatliche Gesamt-Rate in Euro (inklusive "tilgung")
        tilgung:
          type: number
          description: monatliche Tilgungs-Rate in Euro
        typ:
          type: string
          description: |
            Kann einen der folgenden Werte annehmen:
            - ANNUITAETEN_DARLEHEN
            - FORWARD_DARLEHEN
            - REGIONAL_FOERDER_DARLEHEN
            - KFW_DARLEHEN
            - PRIVAT_DARLEHEN
            - ZWISCHEN_FINANZIERUNG
            - VARIABLES_DARLEHEN
            - BAUSPARVERTRAG
        zinsBindung:
          type: integer
          description: in Jahren
        zinsZahlungsBeginnAm:
          type: string
          format: date
          example: 2022-05-21
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.europace.de/login
          tokenUrl: https://api.europace.de/login
          scopes:
            read: Grants read access
