# Baufi Passende Vorschlaege API / Trusted Committers
#
# Siehe auch:
# - https://help.github.com/articles/about-codeowners/
# - https://github.com/hypoport/ep-innersource/blob/master/src/inner-source/code-ownership.md
#
# Bitte die Sortierung dieser Datei beibehalten. Die zuletzt zutreffende Regel
# hat Vorrang.

* @europace/pep-passt
