openapi: 3.0.3
info:
  description: API zum Abruf passender empfohlener Finanzierungsvorschläge.
  version: 0.0.1
  title: Empfohlene Finanzierungsvorschläge API
  contact:
    name: Europace AG
    url: www.europace2.de
    email: helpdesk@europace2.de
servers:
  - url: https://baufismart.api.europace.de
    description: Production server
paths:
  /angebote:
    post:
      summary: Empfohlene Finanzierungsvorschläge ermitteln (derzeit genau einen)
      operationId: getOffers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErfassteDaten'
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        400:
          description: Bad request
        404:
          description: Not found (wird zurückgegeben, wenn der Input valide ist, aber dennoch keine Angebote ermittelt werden konnten)
        405:
          description: Invalid input
        500:
          description: Internal server error
      security:
        - OAuth2:
            - read
components:
  schemas:
    ErfassteDaten:
      type: object
      properties:
        haushalt:
          type: array
          items:
            $ref: '#/components/schemas/Haushalt'
          minimum: 1
          maximum: 4
        finanzierungsObjekt:
          $ref: '#/components/schemas/FinanzierungsObjekt'
        praeferenzen:
          $ref: '#/components/schemas/Praeferenzen'
      required:
        - haushalt
        - finanzierungsObjekt
        - praeferenzen
    Haushalt:
      type: object
      properties:
        antragsteller:
          type: array
          items:
            $ref: '#/components/schemas/Antragsteller'
          minimum: 1
          maximum: 2
        eigenKapital:
          type: number
          example: 14500
          description: in Euro
        sonstigeEinnahmen:
          type: number
          example: 380
          description: in Euro, monatlich
        nichtAbgeloestePrivateDarlehenRestschuld:
          type: number
          example: 42000
        nichtAbgeloesteRatenkrediteRestschuld:
          type: number
          example: 8500
    Antragsteller:
      type: object
      properties:
        beschaeftigtSeit:
          type: string
          format: date
          example: 2015-05-21
        arbeitBefristet:
          type: boolean
          description: true, wenn Beschäftigungsverhältnis befristet ist, ansonsten false
        nettoEinkommen:
          type: number
          description: in Euro, jährlich
        geburtsDatum:
          type: string
          format: date
          example: 1991-05-21
        beschaeftigungsArt:
          enum:
            - ANGESTELLTER
            - ARBEITER
            - BEAMTER
            - FREIBERUFLER
            - SELBSTSTAENDIGER
            - RENTER
            - HAUSMANN
            - ARBEITSLOSER
      required:
        - nettoEinkommen
    FinanzierungsObjekt:
      type: object
      properties:
        objektArt:
          enum:
            - DOPPELHAUSHAELFTE
            - EINFAMILIENHAUS
            - MEHRFAMILIENHAUS
            - REIHENHAUS
            - ZWEIFAMILIENHAUS
            - GRUNDSTUECK
            - EIGENTUMSWOHNUNG
        vermietet:
          type: boolean
          description: true, wenn das Objekt vermietet ist, ansonsten false
        baujahr:
          type: integer
        gewerbeEinheit:
          type: boolean
          description: true, wenn das Objekt überwiegend oder ausschließlich gewerblich genutzt wird, ansonsten false
        postleitzahl:
          type: string
          example: 10117
        strasse:
          type: string
          description: exklusive Hausnummer
        hausnummer:
          type: string
          example: 17a
        wohnFlaeche:
          type: number
          description: in Quadratmetern, irrelevant bei objektArt = GRUNDSTUECK
          example: 120.50
        grundstueckKaufpreis:
          type: number
          description: in Euro
          example: 380000
        preis:
          type: number
          description: Kaufpreis / Herstellungskosten / ...
          example: 250000
        herstellungskostenInklusiveEigenleistung:
          type: number
          description: Herstellungskosten, die nicht im "preis" enthalten sind
        modernisierungsKostenInklusiveEigenleistungen:
          type: number
          description: Kosten zusätzlicher Modernisierungsmaßnahmen, die nicht in "preis" enthalten sind
          example: 10000
    Praeferenzen:
      type: object
      properties:
        wunschRate:
          type: number
          description: in Euro, monatlich
        einzugsDatum:
          type: string
          format: date
          example: 2022-05-21
        kreditEntscheiungsZeit:
          type: string
          format: date
          example: 2021-06-21
          description: bis wann ist eine Entscheidung seitens des Produktanbieters gewünscht?
        laufzeit:
          enum:
            - SCHNELLST_MOEGLICH
            - BIS_ZUR_RENTE
            - EGAL
          description: bis wann soll die Finanzierung vollständig zurückgezahlt sein?
        bausparerErlaubt:
          type: boolean
          description: sind Bauspar-Angebote eine Option?
        foerderDarlehenErlaubt:
          type: boolean
          description: sind Förder-Darlehen (z.B. KfW) eine Option?
    FinanzierungsVorschlaege:
      type: object
      properties:
        vorschlaege:
          type: array
          items:
            $ref: '#/components/schemas/FinanzierungsVorschlag'
    FinanzierungsVorschlag:
      type: object
      properties:
        annahmeFrist:
          type: string
          format: date
          example: 2021-05-21
        bausparAngebote:
          type: array
          items:
            $ref: '#/components/schemas/BausparAngebot'
        darlehen:
          type: array
          items:
            $ref: '#/components/schemas/Darlehen'
        darlehensSumme:
          type: number
        sollZins:
          type: number
        effektivZins:
          type: number
        kennung:
          type: string
        machbarkeit:
          type: integer
          description: Wahrscheinlichkeit mit der ein ProduktAnbieter dieses Vorhaben unterstützen wird (1=unwahrscheinlich 100=sehr wahrscheinlich)
          minimum: 1
          maximum: 100
        rank:
          type: integer
          minimum: 0
          example: 0
          description: 0-basierter Rang dieses Vorschlages im Vergleich zu anderen Vorschlägen. Je kleiner, desto besser passt der Vorschlag zum Wunsch. Derzeit liefert die API nur den am besten passenden Vorschlag.
    BausparAngebot:
      type: object
      properties:
        gebuehrenSumme:
          type: number
          description: Summe aller Gebühren (Abschluss- Kontoführungsgebühr, ...), in Euro
        bausparSumme:
          type: number
          description: in Euro
        gesamtLaufzeit:
          type: integer
          description: in Jahren
        produktAnbieter:
          type: string
        sparRate:
          type: number
          description: in Euro, monatlich
        tilgungsRate:
          type: number
          description: in Euro, monatlich
        tilgungsZins:
          type: number
          description: Prozent, hundert-basiert
          example: 1.56
    Darlehen:
      type: object
      properties:
        auszahlungsBetrag:
          type: number
          description: Auszahlungsbetrag is the net darlehensBetrag in euro
        auszahlungsDatum:
          type: string
          format: date
          example: 2022-08-21
        darlehensBetrag:
          type: number
        sollZins:
          type: number
          description: in Prozent, hundert-basiert
          example: 2.34
        effektivZins:
          type: number
          description: in Prozent, hundert-basiert
          example: 2.56
        produktAnbieter:
          type: string
          description: über die Finanzierung entscheidender ProduktAnbieter
        gesamtKosten:
          type: number
          description: in Euro
          example: 450000
        gesamtLaufzeit:
          type: integer
          description: (kalkulatorische) Laufzeit der Finanzierung
        rate:
          type: number
          description: monatliche Gesamt-Rate in Euro (inklusive "tilgung")
        tilgung:
          type: number
          description: monatliche Tilgungs-Rate in Euro
        typ:
          type: string
          enum:
            - ANNUITAETEN_DARLEHEN
            - FORWARD_DARLEHEN
            - REGIONAL_FOERDER_DARLEHEN
            - KFW_DARLEHEN
            - PRIVAT_DARLEHEN
            - ZWISCHEN_FINANZIERUNG
            - VARIABLES_DARLEHEN
            - BAUSPARVERTRAG
        zinsBindung:
          type: integer
          description: in Jahren
        zinsZahlungsBeginnAm:
          type: string
          format: date
          example: 2022-05-21
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.europace.de/login
          tokenUrl: https://api.europace.de/login
          scopes:
            read: Grants read access
