openapi: 3.0.3
info:
  title: Empfohlene Finanzierungsvorschläge API
  description: API zum Abruf und Merken passender empfohlener Finanzierungsvorschläge
  contact:
    name: Europace AG
    url: https://www.europace2.de
    email: passt@europace.de
  version: 0.0.40
servers:
- url: https://baufismart.api.europace.de
  description: Production server
tags:
- name: Finanzierungsvorschlaege
  description: Top-Finanzierungsvorschläge ermitteln
paths:
  /vorschlaege/ermitteln:
    post:
      tags:
      - Finanzierungsvorschlaege
      summary: "ACHTUNG: Temporäre Implementierung für die Pilotphase!!! Synchrone\
        \ Ermittlung eines Finanzierungsvorschlags. Die Berechnung kann mehrere Sekunden\
        \ in Anspruch nehmen."
      operationId: vorschlaegeErmittelnSync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlaegeErmittlungRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        "400":
          description: Bad request
        "408":
          description: "Request timed out. Mit der AnfrageId kann über GET /vorschlaege/{anfrageId}\
            \ zu einem späteren Zeitpunkt abgefragt werden."
        "500":
          description: Internal server error
      security:
      - OAuth2:
        - read
  /vorschlaege:
    post:
      tags:
      - Finanzierungsvorschlaege
      summary: "Startet Ermittlung empfohlener Finanzierungsvorschläge. Das Ergebnis\
        \ enthält IDs, mit denen via Polling die berechnete Vorschläge abgerufen werden\
        \ können. Die Berechnung kann mehrere Sekunden in Anspruch nehmen."
      operationId: ermittleVorschlaege
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlaegeErmittlungRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErmittlungsLinks'
        "400":
          description: Bad request
        "422":
          description: "Unprocessable Entity (wird zurückgegeben, wenn der Input valide\
            \ ist, aber dennoch keine Vorschläge ermittelt werden konnten)"
        "405":
          description: Invalid input
        "500":
          description: Internal server error
      security:
      - OAuth2:
        - read
  /vorschlaege/{anfrageId}:
    get:
      tags:
      - Finanzierungsvorschlaege
      summary: Liefert die empfohlenen Finanzierungsvorschläge für die angegebene
        ID. Die Ergebnisse stehen nach Ermittlung für einige Zeit zum Abruf bereit
        und werden dann verworfen. Die Ergebnisse können beliebig oft abgerufen werden
        so lange sie bereit stehen.
      operationId: getVorschlaege
      parameters:
      - name: anfrageId
        in: path
        description: "ID, die bei Start der ErmittlungsAnfrage als Ergebnis erhalten\
          \ wurde."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        "202":
          description: "Wird ausgeliefert, wenn eine Ermittlung für die gegebene ID\
            \ ausgelöst wurde, aber noch keine Vorschläge bereit stehen (request pending)."
        "400":
          description: Bad request
        "404":
          description: "Wird ausgeliefert, wenn kein Vorschlag mit der gegebenen ID\
            \ gefunden wurde (keine Ermittlung für diese ID ausgelöst oder Ergebnis\
            \ nicht mehr verfügbar)."
        "500":
          description: Internal server error
      security:
      - OAuth2:
        - read
  /vorschlag/merken:
    post:
      tags:
      - Finanzierungsvorschlaege
      summary: Merken eines Finanzierungsvorschlags
      operationId: vorschlagMerken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlagMerkenRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VorschlagMerkenResponse'
        "404":
          description: Keine Vorschläge für die AnfrageId gefunden
        "419":
          description: Maximale Anzahl gemerkter Vorschläge bereits erreicht
        "500":
          description: Vorschlag konnte nicht abgelegt werden
      security:
      - OAuth2:
        - read
components:
  schemas:
    Annuitaetendarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          darlehensbetrag:
            type: number
            format: double
          annuitaetendetails:
            $ref: '#/components/schemas/Annuitaetendetails'
          bereitstellungszinsfreieZeitInMonaten:
            type: integer
            format: int32
          provision:
            type: number
            description: Angabe in Prozent.
            format: double
          sollZins:
            type: number
            format: double
          effektivZins:
            type: number
            format: double
          rateMonatlich:
            type: number
            format: double
          produktAnbieter:
            type: string
    Annuitaetendetails:
      type: object
      properties:
        zinsbindungInJahren:
          type: integer
          format: int32
        tilgung:
          $ref: '#/components/schemas/Tilgung'
        sondertilgungJaehrlich:
          type: number
          description: Angabe in Prozent.
          format: double
        auszahlungszeitpunkt:
          type: string
          format: date
    Anschrift:
      type: object
      properties:
        plz:
          pattern: "[0-9]{5}"
          type: string
          description: Postleitzahl
          example: "10117"
        ort:
          type: string
          example: Berlin
        strasse:
          type: string
          description: ohne Hausnummer (siehe Feld 'hausnummer')
        hausnummer:
          type: string
          example: 17a
    Darlehen:
      type: object
      properties:
        wirdAbgeloest:
          type: boolean
          description: "true, wenn Darlehen mit der Finanzierung abgelöst werden soll,\
            \ ansonsten false"
        darlehensgeber:
          type: string
          description: Produktanbieter-ID des Darlehensgebers
        grundschuld:
          type: number
          description: im Grundbuch eingetragene Grundschuld
          example: 125867.85
        zinsbindungBis:
          type: string
          format: date
          example: 2022-05-30
        laufzeitende:
          type: string
          format: date
          example: 2040-05-30
        restschuld:
          $ref: '#/components/schemas/Restschuld'
        darlehenskontonummer:
          type: string
          description: "Bezeichnung Ablösedarlehen, wenn zu prolongierendes Darlehen,\
            \ sonst Nummer des Kontos"
    ErmittlungsLinks:
      type: object
      properties:
        anfrageId:
          type: string
          description: "UUID, die eine Anfrage eindeutig identifiziert."
          example: passende-vorschlaege-ABC123456789
    FinanzielleSituation:
      type: object
      properties:
        eigenKapital:
          maximum: 10000000
          minimum: 0
          type: number
          description: Summe aller einzubringender Vermögenswerte. In Euro
          example: 34500
        sonstigeEinnahmen:
          maximum: 100000
          minimum: 0
          type: number
          description: "Einnahmen, die nicht als `nettoEinkommen` erfasst sind. In\
            \ Euro, monatlich, Bsp. Mieteinnahmen, Nebenjob"
          example: 380
        nichtAbgeloestePrivateDarlehenRestschuld:
          maximum: 10000000
          minimum: 0
          type: number
          description: Summe aller nicht abgelösten Verbindlichkeiten aus privaten
            Darlehen. In Euro
          example: 4000
        nichtAbgeloesteRatenkrediteRestschuld:
          maximum: 10000000
          minimum: 0
          type: number
          description: Summe aller nicht abgelösten Verbindlichkeiten aus Ratenkrediten.
            In Euro
          example: 8500
    FinanzierungsVorschlaege:
      required:
      - vorschlaege
      type: object
      properties:
        vorschlaege:
          type: array
          items:
            $ref: '#/components/schemas/FinanzierungsVorschlag'
        leadRating:
          type: object
          properties:
            successRating:
              type: string
              description: "Rating zeigt die Abschlusswahrscheinlichkeit eines Vorgangs\
                \ an. Dabei wird in den Kategorien A, B, C und D aufgegliedert, wie\
                \ hoch die Wahrscheinlichkeit ist, dass ein Vorgang auch zu einem\
                \ erfolgreichen Abschluss kommt. A ist die beste, also aussichtsreichste\
                \ Kategorie"
              example: B
            effortRating:
              type: object
              properties:
                rating:
                  type: boolean
                  description: Indikator ob der Vorgang mit einem hohem Arbeitsaufwand
                    verbunden ist
                explanations:
                  type: array
                  description: Erklaerungen warum der Vorgang aufwendig ist
                  items:
                    type: string
    FinanzierungsVorschlag:
      type: object
      properties:
        finanzierungsVorschlagId:
          type: string
        annahmeFrist:
          type: string
          format: date
          example: 2021-05-21
        finanzierungsbausteine:
          maxItems: 2
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Finanzierungsbaustein'
        darlehensSumme:
          type: number
        sollZins:
          type: number
        effektivZins:
          type: number
        kennung:
          type: string
        machbarkeit:
          maximum: 100
          minimum: 1
          type: integer
          description: Wahrscheinlichkeit mit der ein ProduktAnbieter dieses Vorhaben
            unterstützen wird (1=unwahrscheinlich 100=sehr wahrscheinlich)
        rank:
          minimum: 0
          type: integer
          description: "0-basierter Rang dieses Vorschlages im Vergleich zu anderen\
            \ Vorschlägen. Je kleiner, desto besser passt der Vorschlag zum Wunsch."
          example: 0
        gesamtRateProMonat:
          type: number
          format: double
        zinsbindungInJahrenMinMax:
          type: string
    Finanzierungsbaustein:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: Annuitaetendarlehen, Privatdarlehen, KfwDarlehen"
      discriminator:
        propertyName: '@type'
        mapping:
          ANNUITAETENDARLEHEN: '#/components/schemas/Annuitaetendarlehen'
          PRIVATDARLEHEN: '#/components/schemas/Privatdarlehen'
          KFW_DARLEHEN: '#/components/schemas/KfwDarlehen'
    Finanzierungsbedarf:
      type: object
      properties:
        finanzierungszweck:
          type: string
          description: |
            Kann einen der folgenden Werte annehmen:
            - ANSCHLUSSFINANZIERUNG
            - KAUF
            - KAUF_NEUBAU_VOM_BAUTRAEGER
            - MODERNISIERUNG_UMBAU_ANBAU
            - NEUBAU
            - KAPITALBESCHAFFUNG
          example: KAUF
        grundstueckKaufpreis:
          maximum: 1000000
          minimum: 0
          type: number
          description: Anteil des Grundstückswertes (wenn bekannt) In Euro
          example: 38000.0
        kaufpreis:
          maximum: 10000000
          minimum: 0
          type: number
          description: "Primäre Kosten zum Erwerb / Erstellung des Objekts ohne grundstueckKaufpreis\
            \ und Nebenkosten (Notargebühren, Grunderwerbssteuer, ...). In Euro"
          example: 250000.0
        modernisierungsKostenInklEigenleistungen:
          maximum: 1000000
          minimum: 0
          type: number
          description: Kosten der im Zuge des Erwerbs geplanten Modernisierung inklusive
            Eigenleistung. In Euro
          example: 50000.0
        modernisierungEigenleistung:
          maximum: 1000000
          minimum: 0
          type: number
          description: Anteil der Eigenleistung an den Modernisierungskosten. In Euro
          example: 25000.0
        praeferenzen:
          $ref: '#/components/schemas/Praeferenzen'
        darlehenswunsch:
          type: number
          description: Gewünschte Darlehensumme
          example: 250000.0
    Finanzierungsobjekt:
      type: object
      properties:
        objektArt:
          type: string
          description: |
            Kann einen der folgenden Werte annehmen:
            - DOPPELHAUSHAELFTE
            - EINFAMILIENHAUS
            - MEHRFAMILIENHAUS
            - REIHENHAUS
            - ZWEIFAMILIENHAUS
            - GRUNDSTUECK
            - EIGENTUMSWOHNUNG
        vermietet:
          type: boolean
          description: "true, wenn das Objekt vermietet ist, ansonsten false"
        baujahr:
          type: integer
          description: Jahr der Errichtung des Gebäudes oder der letzen Komplettsanierung
          example: 1952
        gewerblicheNutzung:
          type: boolean
          description: "true, wenn das Objekt überwiegend oder ausschließlich gewerblich\
            \ genutzt wird, ansonsten false"
        anschrift:
          $ref: '#/components/schemas/Anschrift'
        wohnFlaeche:
          maximum: 1000
          minimum: 20
          type: number
          description: "Wohn- oder Nutzfläche in Quadratmetern, irrelevant bei objektArt\
            \ = GRUNDSTUECK"
          example: 120.5
        marktwert:
          type: number
          description: Beleihungswert (ggf. auch Verkehrswert oder Kaufpreis) in Euro
          example: 250000.0
        darlehensliste:
          type: array
          items:
            $ref: '#/components/schemas/Darlehen'
    Haushalt:
      type: object
      properties:
        kunden:
          maximum: 2
          minimum: 1
          type: array
          items:
            $ref: '#/components/schemas/Kunde'
        finanzielleSituation:
          $ref: '#/components/schemas/FinanzielleSituation'
    KfwDarlehen:
      required:
      - darlehensbetrag
      - kfwEndfaellig
      - programm
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          darlehensbetrag:
            type: number
            format: double
          kfwEndfaellig:
            type: string
            enum:
            - NEIN
            - ENDFAELLIG_BERECHNET
            - ENDFAELLIG_EIGENES_ANGEBOT
          tilgung:
            $ref: '#/components/schemas/Tilgung'
          programm:
            $ref: '#/components/schemas/KfwProgramm'
    KfwProgramm:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: KfwProgramm124, KfwProgramm159,\\ \\ KfwProgramm261Neubau,\
        \ KfwProgramm261Sanierung, KfwProgramm262"
      discriminator:
        propertyName: '@type'
        mapping:
          KFW_PROGRAMM_124: '#/components/schemas/KfwProgramm124'
          KFW_PROGRAMM_159: '#/components/schemas/KfwProgramm159'
          KFW_PROGRAMM_261_NEUBAU: '#/components/schemas/KfwProgramm261Neubau'
          KFW_PROGRAMM_261_SANIERUNG: '#/components/schemas/KfwProgramm261Sanierung'
          KFW_PROGRAMM_262: '#/components/schemas/KfwProgramm262'
    KfwProgramm124:
      required:
      - laufzeitInJahren
      - tilgungsfreieAnlaufjahre
      - zinsbindungInJahren
      type: object
      description: "Wohneigentum Schaffen: Selbstgenutztes Eigentum (Programm-Nr.:\\\
        \ \\ 124)"
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          laufzeitInJahren:
            maximum: 25
            minimum: 1
            type: integer
            format: int32
          zinsbindungInJahren:
            type: integer
            description: 5 oder 10 Jahre
            format: int32
          tilgungsfreieAnlaufjahre:
            maximum: 3
            minimum: 1
            type: integer
            format: int32
    KfwProgramm159:
      required:
      - tilgungsfreieAnlaufjahre
      type: object
      description: "Wohnraum Modernisieren: Altersgerecht Umbauen (Programm-Nr.: 159)"
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          zinsbindungInJahren:
            type: integer
            description: 5 oder 10 Jahre
            format: int32
          tilgungsfreieAnlaufjahre:
            maximum: 5
            minimum: 1
            type: integer
            format: int32
    KfwProgramm261Neubau:
      type: object
      description: "Energieeffizient Bauen: bauen oder kaufen (Programm-Nr.: 261).\\\
        \ \\ Die Zinsbindung beträgt immer 10 Jahre."
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          kfwEnergieEffizienzStandard:
            type: string
            description: "Erlaubte Werte sind: STANDARD_40_PLUS, STANDARD_40, STANDARD_40_EEK,\\\
              \ \\ STANDARD_55, STANDARD_55_EEK"
            enum:
            - STANDARD_40
            - STANDARD_40_PLUS
            - STANDARD_40_EEK
            - STANDARD_55
            - STANDARD_55_EEK
            - STANDARD_70
            - STANDARD_70_EEK
            - STANDARD_85
            - STANDARD_85_EEK
            - STANDARD_100
            - STANDARD_100_EEK
            - STANDARD_DENKMAL
            - STANDARD_DENKMAL_EEK
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          tilgungsfreieAnlaufjahre:
            maximum: 5
            minimum: 1
            type: integer
            format: int32
    KfwProgramm261Sanierung:
      type: object
      description: "Energieeffizient Sanieren: sanieren oder ein frisch saniertes\\\
        \ \\ Effizienzhaus kaufen (Programm-Nr.: 261). Die Zinsbindung beträgt immer\\\
        \ \\ 10 Jahre."
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          kfwEnergieEffizienzStandard:
            type: string
            description: "Erlaubte Werte sind: STANDARD_40, STANDARD_40_EEK, STANDARD_55,\\\
              \ \\ STANDARD_55_EEK, STANDARD_70, STANDARD_70_EEK, STANDARD_85, STANDARD_85_EEK,\\\
              \ \\ STANDARD_100, STANDARD_100_EEK, STANDARD_DENKMAL, STANDARD_DENKMAL_EEK"
            enum:
            - STANDARD_40
            - STANDARD_40_PLUS
            - STANDARD_40_EEK
            - STANDARD_55
            - STANDARD_55_EEK
            - STANDARD_70
            - STANDARD_70_EEK
            - STANDARD_85
            - STANDARD_85_EEK
            - STANDARD_100
            - STANDARD_100_EEK
            - STANDARD_DENKMAL
            - STANDARD_DENKMAL_EEK
          kfwSanierungsFahrplanLiegtVor:
            type: boolean
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          tilgungsfreieAnlaufjahre:
            maximum: 5
            minimum: 1
            type: integer
            format: int32
    KfwProgramm262:
      type: object
      description: "Energieeffizient Bauen und Sanieren: Einzelmaßnahmen (Programm-Nr.:\\\
        \ \\ 262). Die Zinsbindung beträgt immer 10 Jahre."
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          kfwSanierungsFahrplanLiegtVor:
            type: boolean
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          tilgungsfreieAnlaufjahre:
            maximum: 5
            minimum: 1
            type: integer
            format: int32
    Kunde:
      required:
      - einkommenNetto
      type: object
      properties:
        beschaeftigtSeit:
          type: string
          format: date
          example: 2015-05-21
        arbeitBefristet:
          type: boolean
          description: "true, wenn Beschäftigungsverhältnis befristet ist, ansonsten\
            \ false"
        einkommenNetto:
          maximum: 100000
          minimum: 0
          type: number
          description: "monatliches Nettoeinkommen lt. Gehaltsnachweis ohne Sonderzahlungen,\
            \ in Euro"
          example: 3500.0
        geburtsdatum:
          type: string
          format: date
          example: 1991-05-21
        beschaeftigungsArt:
          type: string
          description: |
            Kann einen der folgenden Werte annehmen:
              - ANGESTELLTER
              - ARBEITER
              - BEAMTER
              - FREIBERUFLER
              - SELBSTSTAENDIGER
              - RENTER
              - HAUSMANN
              - ARBEITSLOSER
          example: ANGESTELLTER
    Kundenangaben:
      required:
      - finanzierungsbedarf
      - finanzierungsobjekt
      - haushalte
      type: object
      properties:
        haushalte:
          maximum: 1
          minimum: 1
          type: array
          items:
            $ref: '#/components/schemas/Haushalt'
        finanzierungsbedarf:
          $ref: '#/components/schemas/Finanzierungsbedarf'
        finanzierungsobjekt:
          $ref: '#/components/schemas/Finanzierungsobjekt'
    Praeferenzen:
      type: object
      properties:
        rate:
          maximum: 10000
          minimum: 10
          type: number
          description: "In Euro, monatlich"
          example: 850.0
        faelligkeitsdatum:
          type: string
          description: Wann ist die Auszahlung / Ablösung des Darlehens geplant?
          format: date
          example: 2022-06-30
        kreditEntscheidungsZeit:
          type: string
          description: Bis wann ist eine Entscheidung seitens des Produktanbieters
            gewünscht?
          format: date
          example: 2021-04-21
        laufzeit:
          maximum: 70
          minimum: 0
          type: integer
          description: Bis wann soll die Finanzierung vollständig zurückgezahlt sein?
            Angabe der Laufzeit in Jahren
          format: int32
          example: 25
        zinsbindungInJahren:
          type: integer
          description: Gewünschte Zinsbindung des abzuschließenden Darlehens in Jahren
          format: int32
          example: 10
        sonderzahlung:
          type: number
          description: Höhe der geplanten Sonderzahlung zum Zinsbindungsende in Euro
          example: 20000.0
        tilgung:
          type: number
          description: Gewünschte anfängliche Tilgung des abzuschließenden Darlehens
            in Prozent
          example: 2.5
        sondertilgung:
          type: number
          description: Höhe der gewünschten optionalen Sondertilgung während der Zinsbindungsfrist
            in Prozent
          example: 5.0
        bereitstellungszinsfreieZeit:
          type: integer
          description: Gewünschte bereitstellungszinsfreie Zeit in Monaten
          format: int32
          example: 6
    Privatdarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          darlehensbetrag:
            type: number
            format: double
          laufzeitInMonaten:
            type: integer
            format: int32
          provision:
            type: number
            description: Angabe in Prozent.
            format: double
          zinsbindungInJahren:
            type: integer
            format: int32
          sollZins:
            type: number
            format: double
          effektivZins:
            type: number
            format: double
          rateMonatlich:
            type: number
            format: double
          produktAnbieter:
            type: string
    Rate:
      type: object
      allOf:
      - $ref: '#/components/schemas/Tilgung'
      - type: object
        properties:
          rate:
            type: number
            format: double
          tilgungsbeginn:
            type: string
            format: date
    Restschuld:
      type: object
      properties:
        aktuell:
          type: number
          description: In Euro
          example: 255879.81
        zumAbloeseTermin:
          type: number
          description: In Euro
          example: 251210.85
    Tilgung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: TilgungInProzent, Volltilger, Rate."
      discriminator:
        propertyName: '@type'
        mapping:
          TILGUNG_IN_PROZENT: '#/components/schemas/TilgungInProzent'
          VOLLTILGER: '#/components/schemas/Volltilger'
          RATE: '#/components/schemas/Rate'
    TilgungInProzent:
      type: object
      allOf:
      - $ref: '#/components/schemas/Tilgung'
      - type: object
        properties:
          tilgungssatzInProzent:
            type: number
            format: double
          tilgungsbeginn:
            type: string
            format: date
    Volltilger:
      type: object
      allOf:
      - $ref: '#/components/schemas/Tilgung'
      - type: object
        properties:
          tilgungsbeginn:
            type: string
            format: date
    VorschlaegeErmittlungPartnerDaten:
      type: object
      properties:
        datenkontext:
          type: string
          description: In welchem Kontext (Echtgeschäft oder Testmodus) wird der Request
            verarbeitet.
          enum:
          - TEST_MODUS
          - ECHT_GESCHAEFT
        kundenId:
          type: string
          description: "Identifikator für den Nutzer/Partner der API, auch als ep2PartnerId.\
            \ Bsp. WER03"
        clientId:
          type: string
          description: Identifikator für den aufrufenden Client um Client-Implementierungen
            (web/mobile oder A/B) unterscheiden zu können. Bsp. Mobil-App-Ver.2.32
        gewuenschteAnzahlVorschlaege:
          maximum: 10
          minimum: 1
          type: integer
          default: 2
    VorschlaegeErmittlungRequest:
      required:
      - kundenangaben
      - metadaten
      type: object
      properties:
        metadaten:
          $ref: '#/components/schemas/VorschlaegeErmittlungPartnerDaten'
        kundenangaben:
          $ref: '#/components/schemas/Kundenangaben'
    VorschlagMerkenRequest:
      required:
      - anfrageId
      - finanzierungsVorschlagId
      - vorgangId
      type: object
      properties:
        anfrageId:
          type: string
          description: Die gelieferte anfrageId aus der Ermittlung der Vorschläge
        vorgangId:
          type: string
          description: Die Id eines bestehenden Vorgangs
        finanzierungsVorschlagId:
          type: string
          description: Der Identifier eines ermittelten Vorschlags
    VorschlagMerkenResponse:
      type: object
      properties:
        message:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.europace.de/auth/access-token
          scopes:
            baufinanzierung:angebot:ermitteln: Ermitteln von Baufinanzierungs-Vorschlägen
