openapi: 3.0.3
info:
  description: API zum Abruf passender empfohlener Finanzierungsvorschläge
  version: 0.0.62
  title: Empfohlene Finanzierungsvorschläge API
  contact:
    name: Europace AG
    url: https://www.europace2.de
    email: passt@europace.de
servers:
  - url: https://baufismart.api.europace.de
    description: Production server
tags:
  - name: Finanzierungsvorschlaege
    description: Top-Finanzierungsvorschläge ermitteln
paths:
  /v1/vorschlaege/ermitteln:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: 'ACHTUNG: Temporäre Implementierung für die Pilotphase!
                Synchrone Ermittlung eines Finanzierungsvorschlags. Die Berechnung kann mehrere Sekunden in Anspruch nehmen.'
      operationId: vorschlaegeErmittelnSync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlaegeErmittlungRequest'
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        400:
          description: Bad request
        401:
          description: Authorization information is missing or invalid.
        408:
          description: Request timed out. Mit der AnfrageId kann über GET /v1/vorschlaege/{anfrageId} zu einem späteren Zeitpunkt abgefragt werden.
        500:
          description: Internal server error
  /v1/vorschlaege:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: Startet Ermittlung empfohlener Finanzierungsvorschläge. Das Ergebnis enthält IDs, mit denen via Polling die berechnete Vorschläge abgerufen werden können. Die Berechnung kann mehrere Sekunden in Anspruch nehmen.
      operationId: ermittleVorschlaege
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlaegeErmittlungRequest'
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErmittlungsLinks'
        400:
          description: Bad request
        401:
          description: Authorization information is missing or invalid.
        405:
          description: Invalid input
        422:
          description: Unprocessable Entity (wird zurückgegeben, wenn der Input valide ist, aber dennoch keine Vorschläge ermittelt werden konnten)
        500:
          description: Internal server error
  /v1/vorschlaege/{anfrageId}:
    get:
      tags:
        - Finanzierungsvorschlaege
      summary: Liefert die empfohlenen Finanzierungsvorschläge für die angegebene ID. Die Ergebnisse stehen nach Ermittlung für einige Zeit zum Abruf bereit und werden dann verworfen. Die Ergebnisse können beliebig oft abgerufen werden so lange sie bereit stehen.
      operationId: getVorschlaege
      parameters:
        - in: path
          name: anfrageId
          schema:
            type: string
          required: true
          description: ID, die bei Start der ErmittlungsAnfrage als Ergebnis erhalten wurde.
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        202:
          description: Wird ausgeliefert, wenn eine Ermittlung für die gegebene ID ausgelöst wurde, aber noch keine Vorschläge bereit stehen (request pending).
        400:
          description: Bad request
        401:
          description: Authorization information is missing or invalid.
        404:
          description: Wird ausgeliefert, wenn kein Vorschlag mit der gegebenen ID gefunden wurde (keine Ermittlung für diese ID ausgelöst oder Ergebnis nicht mehr verfügbar).
        500:
          description: Internal server error
  /v1/vorschlaege/list/{vorgangId}:
    get:
      tags:
        - Finanzierungsvorschlaege
      summary: Liefert die empfohlenen Finanzierungsvorschläge für die angegebene VorgangID. Es werden nur Vorschlaege ausgeliefert, die vorher gebookmarked wurden.
      operationId: listVorschlaege
      parameters:
        - in: path
          name: vorgangId
          schema:
            type: string
          required: true
          description: ID, die aus KundenangabenApi ermittelt wird
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        400:
          description: Bad request
        404:
          description: Wird ausgeliefert, wenn kein Vorschlag mit der gegebenen ID gefunden wurde (keine Ermittlung für diese ID ausgelöst oder Ergebnis nicht mehr verfügbar).
        500:
          description: Internal server error
      security:
        - OAuth2:
            - read
  /v1/vorschlag/bookmark:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: Ein Vorschlag kann in der EP Plattform hinterlegt werden. Hinterlegte Vorschläge können über /list wieder abgerufen oder von einem Berater in BaufiSmart beraten werden.
      operationId: bookmarkVorschlag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlagBookmarkRequest'
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VorschlagResponse'
        401:
          description: Authorization information is missing or invalid.
        404:
          description: Keine Vorschläge für die AnfrageId gefunden
        419:
          description: Maximale Anzahl gebookmarked Vorschläge bereits erreicht
        500:
          description: Vorschlag konnte nicht abgelegt werden
  /v1/vorschlag/accept:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: Ein Vorschlag kann in der EP Plattform hinterlegt und als vom Verbraucher akzeptiert markiert werden. Akzeptierte Vorschläge können über /list wieder abgerufen oder von einem Berater in BaufiSmart beraten werden.
      operationId: acceptVorschlag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlagAcceptRequest'
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VorschlagResponse'
        401:
          description: Authorization information is missing or invalid.
        404:
          description: Keine Vorschläge für die VorschlagId gefunden
        419:
          description: Vorschlag bereits accepted
        500:
          description: Vorschlag konnte nicht abgelegt werden
  /v1/vorschlag/delete:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: Gebookmarkte oder akzeptierte Vorschläge können gelöscht werden.
      operationId: deleteVorschlag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlagDeleteRequest'
      responses:
        200:
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VorschlagResponse'
        401:
          description: Authorization information is missing or invalid.
        404:
          description: Keine Vorschläge für die VorschlagId gefunden
        500:
          description: Vorschlag konnte nicht gelöscht werden
security:
  - bearerAuth: [ ]
components:
  schemas:
    ErmittlungsLinks:
      type: object
      properties:
        anfrageId:
          type: string
          description: UUID, die eine Anfrage eindeutig identifiziert.
          example: passende-vorschlaege-ABC123456789
    VorschlaegeErmittlungRequest:
      type: object
      required:
        - metadaten
        - kundenangaben
      properties:
        metadaten:
          $ref: '#/components/schemas/VorschlaegeErmittlungPartnerDaten'
        kundenangaben:
          $ref: '#/components/schemas/Kundenangaben'
    VorschlaegeErmittlungPartnerDaten:
      type: object
      required:
        - datenkontext
      properties:
        datenkontext:
          type: string
          description: In welchem Kontext (Echtgeschäft oder Testmodus) wird der Request verarbeitet.
          enum:
            - TEST_MODUS
            - ECHT_GESCHAEFT
        kundenId:
          type: string
          description: Deprecated, wird durch extKundenId ersetzt! Identifikator für den Nutzer/Partner der API, Bsp. ImmoFin AG
          deprecated: true
        extKundenId:
          type: string
          description: Identifikator für den Nutzer/Partner der API, Bsp. ImmoFin AG
          example: ImmoFin
        clientId:
          type: string
          description: Deprecated, wird künftig umbenannt in extClientId! Identifikator für den aufrufenden Client um Client-Implementierungen (web/mobile oder A/B) unterscheiden zu können. Bsp. Mobil-App-Ver.2.32
          deprecated: true
        extClientId:
          type: string
          description: Identifikator für den aufrufenden Client um Client-Implementierungen (web/mobile oder A/B) unterscheiden zu können. Bsp. Mobil-App-Ver.2.32
        gewuenschteAnzahlVorschlaege:
          type: integer
          default: 2
          minimum: 1
          maximum: 10
        stage:
          default: "default"
          type: string
        feature:
          default: "default"
          type: string
    Kundenangaben:
      type: object
      required:
        - haushalte
        - finanzierungsbedarf
        - finanzierungsobjekt
      properties:
        haushalte:
          type: array
          items:
            $ref: '#/components/schemas/Haushalt'
          minItems: 1
          maxItems: 1
        finanzierungsbedarf:
          $ref: '#/components/schemas/Finanzierungsbedarf'
        finanzierungsobjekt:
          $ref: '#/components/schemas/Finanzierungsobjekt'
    Haushalt:
      type: object
      required:
        - kunden
      properties:
        kunden:
          type: array
          items:
            $ref: '#/components/schemas/Kunde'
          minItems: 1
          maxItems: 2
        finanzielleSituation:
          $ref: '#/components/schemas/FinanzielleSituation'
    FinanzielleSituation:
      type: object
      properties:
        eigenKapital:
          type: number
          example: 34500
          description: Summe aller einzubringender Vermögenswerte. In Euro
          minimum: 0
          maximum: 10000000
        sonstigeEinnahmen:
          type: number
          example: 380
          description: Einnahmen, die nicht als `nettoEinkommen` erfasst sind. In Euro, monatlich, Bsp. Mieteinnahmen, Nebenjob
          minimum: 0
          maximum: 100000
        nichtAbgeloestePrivateDarlehenRestschuld:
          type: number
          example: 4000
          description: Summe aller nicht abgelösten Verbindlichkeiten aus privaten Darlehen. In Euro
          minimum: 0
          maximum: 10000000
        nichtAbgeloesteRatenkrediteRestschuld:
          type: number
          example: 8500
          description: Summe aller nicht abgelösten Verbindlichkeiten aus Ratenkrediten. In Euro
          minimum: 0
          maximum: 10000000
    Kunde:
      type: object
      required:
        - einkommenNetto
      properties:
        beschaeftigtSeit:
          type: string
          format: date
          example: 2015-05-21
        arbeitBefristet:
          type: boolean
          description: true, wenn Beschäftigungsverhältnis befristet ist, ansonsten false
        einkommenNetto:
          type: number
          description: monatliches Nettoeinkommen lt. Gehaltsnachweis ohne Sonderzahlungen, in Euro
          example: 3500.00
          minimum: 0
          maximum: 100000
        geburtsdatum:
          type: string
          format: date
          example: 1991-05-21
        beschaeftigungsArt:
          type: string
          example: ANGESTELLTER
          description: |
            Kann einen der folgenden Werte annehmen:
              - ANGESTELLTER
              - ARBEITER
              - BEAMTER
              - FREIBERUFLER
              - SELBSTAENDIGER
              - RENTNER
              - HAUSFRAU
              - ARBEITSLOSER
    Finanzierungsobjekt:
      type: object
      required:
        - anschrift
      properties:
        objektArt:
          type: string
          description: |
            Kann einen der folgenden Werte annehmen:
            - DOPPELHAUSHAELFTE
            - EINFAMILIENHAUS
            - MEHRFAMILIENHAUS
            - REIHENHAUS
            - ZWEIFAMILIENHAUS
            - GRUNDSTUECK
            - EIGENTUMSWOHNUNG
        vermietet:
          type: boolean
          description: true, wenn das Objekt vermietet ist, ansonsten false
        baujahr:
          type: integer
          example: 1952
          description: Jahr der Errichtung des Gebäudes oder der letzen Komplettsanierung
        gewerblicheNutzung:
          type: boolean
          description: true, wenn das Objekt überwiegend oder ausschließlich gewerblich genutzt wird, ansonsten false
          default: false
        anschrift:
          $ref: '#/components/schemas/Anschrift'
        wohnflaeche:
          type: number
          description: Wohn- oder Nutzfläche in Quadratmetern, irrelevant bei objektArt = GRUNDSTUECK
          example: 120.50
          minimum: 20
          maximum: 1000
        marktwert:
          type: number
          description: Beleihungswert (ggf. auch Verkehrswert oder Kaufpreis) in Euro
          example: 250000.00
        darlehensliste:
          type: array
          items:
            $ref: '#/components/schemas/Darlehen'
    Finanzierungsbedarf:
      type: object
      required:
        - finanzierungszweck
      properties:
        finanzierungszweck:
          type: string
          description: |
            Kann einen der folgenden Werte annehmen:
            - ANSCHLUSSFINANZIERUNG
            - KAUF
            - KAUF_NEUBAU_VOM_BAUTRAEGER
            - MODERNISIERUNG_UMBAU_ANBAU
            - NEUBAU
            - KAPITALBESCHAFFUNG
          example: KAUF
        grundstueckKaufpreis:
          type: number
          description: Anteil des Grundstückswertes (wenn bekannt) In Euro
          example: 38000.00
          minimum: 0
          maximum: 1000000
        kaufpreis:
          type: number
          description: Primäre Kosten zum Erwerb / Erstellung des Objekts ohne grundstueckKaufpreis und Nebenkosten (Notargebühren, Grunderwerbssteuer, ...). In Euro
          example: 250000.00
          minimum: 0
          maximum: 10000000
        modernisierungsKostenInklEigenleistungen:
          type: number
          description: Kosten der im Zuge des Erwerbs geplanten Modernisierung inklusive Eigenleistung. In Euro
          example: 50000.00
          minimum: 0
          maximum: 1000000
        modernisierungEigenleistung:
          type: number
          description: Anteil der Eigenleistung an den Modernisierungskosten. In Euro
          example: 25000.00
          minimum: 0
          maximum: 1000000
        sonderzahlungZumZinsbindungsEnde:
          type: number
          description: Höhe der geplanten Sonderzahlung zum Zinsbindungsende in Euro
          example: 20000.00
        praeferenzen:
          $ref: '#/components/schemas/Praeferenzen'
        darlehenswunsch:
          type: number
          description: Gewünschte Darlehensumme
          example: 250000.00
        herstellungskostenInklusiveEigenleistungen:
          type: number
          description: Herstellungskosten bei Neubau
          example: 250000.00
        grundstueckBereitsBezahlt:
          type: boolean
          description: True, wenn Grundstueck bereits bezahlt
    Anschrift:
      type: object
      required:
        - plz
      properties:
        plz:
          pattern: '[0-9]{5}'
          type: string
          example: 10117
          description: Postleitzahl
        ort:
          type: string
          example: Berlin
        strasse:
          type: string
          description: ohne Hausnummer (siehe Feld 'hausnummer')
        hausnummer:
          type: string
          example: 17a
    Darlehen:
      type: object
      properties:
        wirdAbgeloest:
          type: boolean
          description: true, wenn Darlehen mit der Finanzierung abgelöst werden soll, ansonsten false
        darlehensgeber:
          type: string
          description: Produktanbieter-ID des Darlehensgebers
        grundschuld:
          type: number
          description: im Grundbuch eingetragene Grundschuld
          example: 125867.85
        zinsbindungBis:
          type: string
          format: date
          example: 2022-05-30
        laufzeitende:
          type: string
          format: date
          example: 2040-05-30
        restschuld:
          $ref: '#/components/schemas/Restschuld'
        darlehenskontonummer:
          type: string
          description: Bezeichnung Ablösedarlehen, wenn zu prolongierendes Darlehen, sonst Nummer des Kontos
    Praeferenzen:
      type: object
      properties:
        rate:
          type: number
          description: In Euro, monatlich
          example: 850.00
          minimum: 10
          maximum: 10000
        faelligkeitsdatum:
          type: string
          format: date
          description: Wann ist die Auszahlung / Ablösung des Darlehens geplant?
          example: 2022-06-30
        kreditEntscheidungsZeit:
          type: string
          format: date
          description: Bis wann ist eine Entscheidung seitens des Produktanbieters gewünscht?
          example: 2021-04-21
        laufzeit:
          type: integer
          format: int32
          description: Bis wann soll die Finanzierung vollständig zurückgezahlt sein? Angabe der Laufzeit in Jahren
          example: 25
          minimum: 0
          maximum: 70
        zinsbindungInJahren:
          type: integer
          format: int32
          description: Gewünschte Zinsbindung des abzuschließenden Darlehens in Jahren
          example: 10
        tilgung:
          type: number
          description: Gewünschte anfängliche Tilgung des abzuschließenden Darlehens in Prozent
          example: 2.50
        sondertilgung:
          type: number
          description: Deprecated! Bitte optionaleSondertilgung nutzen
          example: 5.0
          deprecated: true
        sonderzahlung:
          type: number
          description: "Deprecated! Bitte sonderzahlungZumZinsbindungsEnde am Finanzierungsbedarf nutzen."
          example: 20000.00
          deprecated: true
        optionaleSondertilgung:
          type: number
          description: Höhe der gewünschten optionalen Sondertilgung während der Zinsbindungsfrist in Prozent
          example: 5.0
        bereitstellungszinsfreieZeit:
          type: integer
          format: int32
          description: Gewünschte bereitstellungszinsfreie Zeit in Monaten
          example: 6
    Restschuld:
      type: object
      properties:
        aktuell:
          type: number
          description: In Euro
          example: 255879.81
        zumAbloeseTermin:
          type: number
          description: In Euro
          example: 251210.85
    FinanzierungsVorschlaege:
      type: object
      required:
        - vorschlaege
      properties:
        vorschlaege:
          type: array
          items:
            $ref: '#/components/schemas/FinanzierungsVorschlag'
        leadRating:
          type: object
          properties:
            successRating:
              type: string
              description: Rating zeigt die Abschlusswahrscheinlichkeit eines Vorgangs an. Dabei wird in den Kategorien A, B, C und D aufgegliedert, wie hoch die Wahrscheinlichkeit ist, dass ein Vorgang auch zu einem erfolgreichen Abschluss kommt. A ist die beste, also aussichtsreichste Kategorie
              example: "B"
            effortRating:
              type: object
              properties:
                rating:
                  type: boolean
                  description: Indikator ob der Vorgang mit einem hohem Arbeitsaufwand verbunden ist
                explanations:
                  type: array
                  items:
                    type: string
                  description: Erklaerungen warum der Vorgang aufwendig ist
            feasibilityRating:
              type: integer
              description: Zeigt den Machbarkeitswert an
              example: 50
    FinanzierungsVorschlag:
      type: object
      properties:
        finanzierungsVorschlagId:
          type: string
        annahmeFrist:
          type: string
          format: date
          example: 2021-05-21
        finanzierungsbausteine:
          maxItems: 2
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Finanzierungsbaustein'
        darlehensSumme:
          type: number
        sollZins:
          type: number
        effektivZins:
          type: number
        kennung:
          type: string
        machbarkeit:
          type: integer
          description: Wahrscheinlichkeit mit der ein ProduktAnbieter dieses Vorhaben unterstützen wird (1=unwahrscheinlich 100=sehr wahrscheinlich)
          minimum: 1
          maximum: 100
        rank:
          type: integer
          minimum: 0
          example: 0
          description: 0-basierter Rang dieses Vorschlages im Vergleich zu anderen Vorschlägen. Je kleiner, desto besser passt der Vorschlag zum Wunsch.
        gesamtRateProMonat:
          type: number
          format: double
        zinsbindungInJahrenMinMax:
          type: string
        optimierungsMeldungen:
          type: object
          properties:
            machbarkeit:
              type: array
              items:
                $ref: '#/components/schemas/Meldung'
    Meldung:
      type: object
      properties:
        code:
          type: string
        text:
          type: string
    Finanzierungsbaustein:
      required:
        - '@type'
      type: object
      properties:
        '@type':
          type: string
        restschuldNachZinsbindungsEnde:
          type: number
          format: double
        schlussrate:
          type: number
          format: double
        datumLetzteRate:
          type: string
          format: date
          example: 2021-05-21
        anzahlRaten:
          type: integer
          format: int32
        tilgungssatzInProzent:
          type: number
          format: double
        kostenUeberGesamtlaufzeit:
          type: number
          format: double
      description: 'Mögliche Typen: Annuitaetendarlehen, Privatdarlehen, KfwDarlehen'
      discriminator:
        propertyName: '@type'
        mapping:
          ANNUITAETENDARLEHEN: '#/components/schemas/Annuitaetendarlehen'
          PRIVATDARLEHEN: '#/components/schemas/Privatdarlehen'
          KFW_DARLEHEN: '#/components/schemas/KfwDarlehen'
    Annuitaetendarlehen:
      type: object
      allOf:
        - $ref: '#/components/schemas/Finanzierungsbaustein'
        - type: object
          properties:
            darlehensbetrag:
              type: number
              format: double
            annuitaetendetails:
              $ref: '#/components/schemas/Annuitaetendetails'
            bereitstellungszinsfreieZeitInMonaten:
              type: integer
              format: int32
            provision:
              type: number
              description: Angabe in Prozent.
              format: double
            sollZins:
              type: number
              format: double
            effektivZins:
              type: number
              format: double
            rateMonatlich:
              type: number
              format: double
            produktAnbieter:
              type: string
    Privatdarlehen:
      type: object
      allOf:
        - $ref: '#/components/schemas/Finanzierungsbaustein'
        - type: object
          properties:
            darlehensbetrag:
              type: number
              format: double
            laufzeitInMonaten:
              type: integer
              format: int32
            provision:
              type: number
              description: Angabe in Prozent.
              format: double
            zinsbindungInJahren:
              type: integer
              format: int32
            sollZins:
              type: number
              format: double
            effektivZins:
              type: number
              format: double
            rateMonatlich:
              type: number
              format: double
            produktAnbieter:
              type: string
    Annuitaetendetails:
      type: object
      properties:
        zinsbindungInJahren:
          type: integer
          format: int32
        tilgung:
          $ref: '#/components/schemas/Tilgung'
        sondertilgungJaehrlich:
          type: number
          description: Angabe in Prozent.
          format: double
        auszahlungszeitpunkt:
          type: string
          format: date
    KfwDarlehen:
      type: object
      required:
        - darlehensbetrag
        - kfwEndfaellig
        - programm
      allOf:
        - $ref: '#/components/schemas/Finanzierungsbaustein'
        - type: object
          properties:
            darlehensbetrag:
              type: number
              format: double
            kfwEndfaellig:
              type: string
              enum:
                - NEIN
                - ENDFAELLIG_BERECHNET
                - ENDFAELLIG_EIGENES_ANGEBOT
            tilgung:
              $ref: '#/components/schemas/Tilgung'
            programm:
              $ref: '#/components/schemas/KfwProgramm'
    Tilgung:
      required:
        - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: 'Mögliche Typen: TilgungInProzent, Volltilger, Rate.'
      discriminator:
        propertyName: '@type'
        mapping:
          TILGUNG_IN_PROZENT: '#/components/schemas/TilgungInProzent'
          VOLLTILGER: '#/components/schemas/Volltilger'
          RATE: '#/components/schemas/Rate'
    TilgungInProzent:
      type: object
      allOf:
        - $ref: '#/components/schemas/Tilgung'
        - type: object
          properties:
            tilgungssatzInProzent:
              type: number
              format: double
            tilgungsbeginn:
              type: string
              format: date
    Volltilger:
      type: object
      allOf:
        - $ref: '#/components/schemas/Tilgung'
        - type: object
          properties:
            tilgungsbeginn:
              type: string
              format: date
    Rate:
      type: object
      allOf:
        - $ref: '#/components/schemas/Tilgung'
        - type: object
          properties:
            rate:
              type: number
              format: double
            tilgungsbeginn:
              type: string
              format: date
    KfwProgramm:
      required:
        - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: 'Mögliche Typen: KfwProgramm124, KfwProgramm159,\
            \ KfwProgramm261Neubau, KfwProgramm261Sanierung, KfwProgramm262'
      discriminator:
        propertyName: '@type'
        mapping:
          KFW_PROGRAMM_124: '#/components/schemas/KfwProgramm124'
          KFW_PROGRAMM_159: '#/components/schemas/KfwProgramm159'
          KFW_PROGRAMM_261_NEUBAU: '#/components/schemas/KfwProgramm261Neubau'
          KFW_PROGRAMM_261_SANIERUNG: '#/components/schemas/KfwProgramm261Sanierung'
          KFW_PROGRAMM_262: '#/components/schemas/KfwProgramm262'
    KfwProgramm124:
      required:
        - laufzeitInJahren
        - tilgungsfreieAnlaufjahre
        - zinsbindungInJahren
      type: object
      description: 'Wohneigentum Schaffen: Selbstgenutztes Eigentum (Programm-Nr.:\
          \ 124)'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            laufzeitInJahren:
              maximum: 25
              minimum: 1
              type: integer
              format: int32
            zinsbindungInJahren:
              type: integer
              description: 5 oder 10 Jahre
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 3
              minimum: 1
              type: integer
              format: int32
    KfwProgramm159:
      required:
        - tilgungsfreieAnlaufjahre
      type: object
      description: 'Wohnraum Modernisieren: Altersgerecht Umbauen (Programm-Nr.: 159)'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            laufzeitInJahren:
              maximum: 30
              minimum: 4
              type: integer
              format: int32
            zinsbindungInJahren:
              type: integer
              description: 5 oder 10 Jahre
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 5
              minimum: 1
              type: integer
              format: int32
    KfwProgramm261Neubau:
      type: object
      description: 'Energieeffizient Bauen: bauen oder kaufen (Programm-Nr.: 261).\
          \ Die Zinsbindung beträgt immer 10 Jahre.'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            kfwEnergieEffizienzStandard:
              type: string
              description: 'Erlaubte Werte sind: STANDARD_40_PLUS, STANDARD_40, STANDARD_40_EEK,\
                \ STANDARD_55, STANDARD_55_EEK'
              enum:
                - STANDARD_40
                - STANDARD_40_PLUS
                - STANDARD_40_EEK
                - STANDARD_55
                - STANDARD_55_EEK
                - STANDARD_70
                - STANDARD_70_EEK
                - STANDARD_85
                - STANDARD_85_EEK
                - STANDARD_100
                - STANDARD_100_EEK
                - STANDARD_DENKMAL
                - STANDARD_DENKMAL_EEK
            laufzeitInJahren:
              maximum: 30
              minimum: 4
              type: integer
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 5
              minimum: 1
              type: integer
              format: int32
    KfwProgramm261Sanierung:
      type: object
      description: 'Energieeffizient Sanieren: sanieren oder ein frisch saniertes\
          \ Effizienzhaus kaufen (Programm-Nr.: 261). Die Zinsbindung beträgt immer\
          \ 10 Jahre.'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            kfwEnergieEffizienzStandard:
              type: string
              description: 'Erlaubte Werte sind: STANDARD_40, STANDARD_40_EEK, STANDARD_55,\
                \ STANDARD_55_EEK, STANDARD_70, STANDARD_70_EEK, STANDARD_85, STANDARD_85_EEK,\
                \ STANDARD_100, STANDARD_100_EEK, STANDARD_DENKMAL, STANDARD_DENKMAL_EEK'
              enum:
                - STANDARD_40
                - STANDARD_40_PLUS
                - STANDARD_40_EEK
                - STANDARD_55
                - STANDARD_55_EEK
                - STANDARD_70
                - STANDARD_70_EEK
                - STANDARD_85
                - STANDARD_85_EEK
                - STANDARD_100
                - STANDARD_100_EEK
                - STANDARD_DENKMAL
                - STANDARD_DENKMAL_EEK
            kfwSanierungsFahrplanLiegtVor:
              type: boolean
            laufzeitInJahren:
              maximum: 30
              minimum: 4
              type: integer
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 5
              minimum: 1
              type: integer
              format: int32
    KfwProgramm262:
      type: object
      description: 'Energieeffizient Bauen und Sanieren: Einzelmaßnahmen (Programm-Nr.:\
          \ 262). Die Zinsbindung beträgt immer 10 Jahre.'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            kfwSanierungsFahrplanLiegtVor:
              type: boolean
            laufzeitInJahren:
              maximum: 30
              minimum: 4
              type: integer
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 5
              minimum: 1
              type: integer
              format: int32
    VorschlagBookmarkRequest:
      type: object
      required:
        - anfrageId
        - vorgangId
        - finanzierungsVorschlagId
      properties:
        anfrageId:
          type: string
          description: 'Die gelieferte anfrageId aus der Ermittlung der Vorschläge'
        vorgangId:
          type: string
          description: 'Die Id eines bestehenden Vorgangs'
        finanzierungsVorschlagId:
          type: string
          description: 'Der Identifier eines ermittelten Vorschlags'
    VorschlagResponse:
      type: object
      properties:
        message:
          type: string
    VorschlagAcceptRequest:
      type: object
      required:
        - finanzierungsVorschlagId
        - vorgangId
      properties:
        anfrageId:
          type: string
          description: 'Die gelieferte anfrageId aus der Ermittlung der Vorschläge'
        vorgangId:
          type: string
          description: 'Die Id eines bestehenden Vorgangs'
        finanzierungsVorschlagId:
          type: string
          description: 'Der Identifier eines ermittelten Vorschlags'
    VorschlagDeleteRequest:
      type: object
      required:
        - finanzierungsVorschlagId
        - vorgangId
      properties:
        vorgangId:
          type: string
          description: 'Die Id eines bestehenden Vorgangs'
        finanzierungsVorschlagId:
          type: string
          description: 'Der Identifier eines ermittelten und gebookmarkten oder akzeptierten Vorschlags'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

