openapi: 3.0.3
info:
  description: 'As consumer, I want to determine appropriate financing proposals based on my situation and preferences. Analyze my needs and compare and find the best offers which fits my needs.'
  version: 0.0.71
  title: Vorschlaege API
  contact:
    name: Europace AG
    url: 'https://www.europace2.de'
    email: passt@europace.de
servers:
  - url: 'https://baufismart.api.europace.de'
    description: Production server
tags:
  - name: Finanzierungsvorschlaege
    description: determine appropriate financing proposals
paths:
  /v1/vorschlaege/ermitteln:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: determine financial proposals
      operationId: vorschlaegeErmittelnSync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlaegeErmittlungRequest'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        '400':
          description: Bad request
        '401':
          description: Authorization information is missing or invalid.
        '408':
          description: 'Request timed out. With the AnfrageId can be queried via GET /v1/vorschlaege/{anfrageId} at a later time.'
        '500':
          description: Internal server error
      deprecated: true
      description: 'ATTENTION: Temporary implementation for the pilot phase! Synchronous determination of a financing proposal. The calculation can take several seconds.'
  /v1/vorschlaege:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: determine financial proposals
      operationId: ermittleVorschlaege
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlaegeErmittlungRequest'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErmittlungsLinks'
        '400':
          description: Bad request
        '401':
          description: Authorization information is missing or invalid.
        '405':
          description: Invalid input
        '422':
          description: Unprocessable Entity (returned if the input is valid but still no proposals could be determined)
        '500':
          description: Internal server error
      description: 'As consumer, I can request financial proposals to find, compare and pick suitable solutions for my mortage.'
  '/v1/vorschlaege/{anfrageId}':
    get:
      tags:
        - Finanzierungsvorschlaege
      summary: get financial proposals
      operationId: getVorschlaege
      parameters:
        - in: path
          name: anfrageId
          schema:
            type: string
          required: true
          description: ID that was received as a result when the determination request was started.
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        '202':
          description: Pending determination
        '400':
          description: Bad request
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: No determination triggered for this ID or result no longer available.
        '500':
          description: Internal server error
      description: 'As consumer, I get the determined financial proposals to compare and pick suitable solutions for my mortage.'
  '/v1/vorschlaege/list/{vorgangId}':
    get:
      tags:
        - Finanzierungsvorschlaege
      summary: list bookmarked financial proposals
      operationId: listVorschlaege
      parameters:
        - in: path
          name: vorgangId
          schema:
            type: string
          required: true
          description: Vorgangsnummer as result of Kundenangaben-API
        - in: query
          name: vorschlagStatus
          schema:
            type: string
            default: "all"
          required: false
          description: Allowed Values |
            - all
            - bookmarked
            - accepted
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FinanzierungsVorschlaege'
        '400':
          description: Bad request
        '404':
          description: No determination triggered for this ID or result no longer available
        '500':
          description: Internal server error
      security:
        - OAuth2:
            - read
      description: 'As consumer, I get all bookmarked financial proposals to get an overview of my suitable solutions.'
  /v1/vorschlag/bookmark:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: bookmark financial proposal
      operationId: bookmarkVorschlag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlagBookmarkRequest'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VorschlagResponse'
        '401':
          description: Authorization information is missing or invalid
        '404':
          description: No financial proposals found for AnfrageId
        '419':
          description: Max count of bookmarks exceeded
        '500':
          description: Financial proposals could not bookmarked
      description: 'As consumer, I can bookmark suitable financial proposals to review them later or discuss them with the advisor.'
  /v1/vorschlag/accept:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: accept financial proposal
      operationId: acceptVorschlag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlagAcceptRequest'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VorschlagResponse'
        '401':
          description: Authorization information is missing or invalid
        '404':
          description: No financial proposals found for AnfrageId
        '419':
          description: Financial proposals already accepted
        '500':
          description: Financial proposals could not accepted
      description: 'As consumer, I can accept the loan prologation offer to get the contract from the loan provider.'
  /v1/vorschlag/delete:
    post:
      tags:
        - Finanzierungsvorschlaege
      summary: delete bookmarked financial proposal
      operationId: deleteVorschlag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VorschlagDeleteRequest'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VorschlagResponse'
        '401':
          description: Authorization information is missing or invalid
        '404':
          description: No financial proposals found for finanzierungsVorschlagId
        '500':
          description: Financial proposals could not deleted
      description: 'As consumer, I delete bookmarked financial proposals to disqualify them and get a better overview.'
security:
  - bearerAuth: [ ]
components:
  schemas:
    ErmittlungsLinks:
      type: object
      properties:
        anfrageId:
          type: string
          description: UUID that uniquely identifies a request.
          example: passende-vorschlaege-ABC123456789
    VorschlaegeErmittlungRequest:
      type: object
      required:
        - metadaten
        - kundenangaben
      properties:
        metadaten:
          $ref: '#/components/schemas/VorschlaegeErmittlungPartnerDaten'
        kundenangaben:
          $ref: '#/components/schemas/Kundenangaben'
    VorschlaegeErmittlungPartnerDaten:
      type: object
      required:
        - datenkontext
      properties:
        datenkontext:
          type: string
          description: In which context (real business or test mode) is the request processed.
          enum:
            - TEST_MODUS
            - ECHT_GESCHAEFT
        kundenId:
          type: string
          description: 'Deprecated, will be renamed to extKundenId! Identifier for the user/partner of the API, e.g. ImmoFin AG'
          deprecated: true
        extKundenId:
          type: string
          description: 'Identifier for the user/partner of the API, e.g. ImmoFin AG'
          example: ImmoFin
        clientId:
          type: string
          description: 'Deprecated, will be renamed to extClientId! Identifier for the calling client to distinguish client implementations (web/mobile or A/B). Ex. mobile app ver.2.32'
          deprecated: true
        extClientId:
          type: string
          description: 'Identifier for the calling client to distinguish client implementations (web/mobile or A/B). Ex. mobile app ver.2.32'
        gewuenschteAnzahlVorschlaege:
          type: integer
          default: 2
          minimum: 1
          maximum: 10
        stage:
          default: "default"
          type: string
        feature:
          default: "default"
          type: string
    Kundenangaben:
      type: object
      required:
        - haushalte
        - finanzierungsbedarf
        - finanzierungsobjekt
      properties:
        haushalte:
          type: array
          items:
            $ref: '#/components/schemas/Haushalt'
          minItems: 1
          maxItems: 1
        finanzierungsbedarf:
          $ref: '#/components/schemas/Finanzierungsbedarf'
        finanzierungsobjekt:
          $ref: '#/components/schemas/Finanzierungsobjekt'
    Haushalt:
      type: object
      required:
        - kunden
      properties:
        kunden:
          type: array
          items:
            $ref: '#/components/schemas/Kunde'
          minItems: 1
          maxItems: 2
        finanzielleSituation:
          $ref: '#/components/schemas/FinanzielleSituation'
    FinanzielleSituation:
      type: object
      properties:
        eigenKapital:
          type: number
          example: 34500
          description: 'Total of all assets to be contributed. In euros'
          minimum: 0
          maximum: 10000000
        sonstigeEinnahmen:
          type: number
          example: 380
          description: 'Income that is not recorded as ''net income''. In euros, monthly, e.g. rental income, part-time job'
          minimum: 0
          maximum: 100000
        nichtAbgeloestePrivateDarlehenRestschuld:
          type: number
          example: 4000
          description: 'Total of all unredeemed liabilities from private loans. In euros'
          minimum: 0
          maximum: 10000000
        nichtAbgeloesteRatenkrediteRestschuld:
          type: number
          example: 8500
          description: 'Total of all unredeemed liabilities from installment loans. In euros'
          minimum: 0
          maximum: 10000000
    Kunde:
      type: object
      required:
        - einkommenNetto
      properties:
        beschaeftigtSeit:
          type: string
          format: date
          example: '2015-05-21'
        arbeitBefristet:
          type: boolean
          description: 'true, if employment relationship is temporary, otherwise false'
        einkommenNetto:
          type: number
          description: 'Monthly net income according to salary statement without special payments, in EuroMonthly net income according to salary statement without special payments, in euros'
          example: 3500.00
          minimum: 0
          maximum: 100000
        geburtsdatum:
          type: string
          format: date
          example: '1991-05-21'
        beschaeftigungsArt:
          type: string
          example: ANGESTELLTER
          description: |
            Allowed values:
              - ANGESTELLTER
              - ARBEITER
              - BEAMTER
              - FREIBERUFLER
              - SELBSTAENDIGER
              - RENTNER
              - HAUSFRAU
              - ARBEITSLOSER
    Finanzierungsobjekt:
      type: object
      required:
        - anschrift
      properties:
        objektArt:
          type: string
          description: |
            Allowed values:
            - DOPPELHAUSHAELFTE
            - EINFAMILIENHAUS
            - MEHRFAMILIENHAUS
            - REIHENHAUS
            - ZWEIFAMILIENHAUS
            - GRUNDSTUECK
            - EIGENTUMSWOHNUNG
        vermietet:
          type: boolean
          description: 'true, if the object is rented, else false'
        baujahr:
          type: integer
          example: 1952
          description: 'Year of construction of the building or last complete renovation'
        gewerblicheNutzung:
          type: boolean
          description: 'true, if the property is used predominantly or exclusively for commercial purposes, otherwise false'
          default: false
        anschrift:
          $ref: '#/components/schemas/Anschrift'
        wohnflaeche:
          type: number
          description: 'Living or usable space in square meters, irrelevant for objektArt = GRUNDSTUECK'
          example: 120.50
          minimum: 20
          maximum: 1000
        marktwert:
          type: number
          description: 'Mortgage lending value (if applicable, also market value or purchase price) in euros'
          example: 250000.00
        darlehensliste:
          type: array
          items:
            $ref: '#/components/schemas/Darlehen'
    Finanzierungsbedarf:
      type: object
      required:
        - finanzierungszweck
      properties:
        finanzierungszweck:
          type: string
          description: |
            Allowed values:
            - ANSCHLUSSFINANZIERUNG
            - KAUF
            - KAUF_NEUBAU_VOM_BAUTRAEGER
            - MODERNISIERUNG_UMBAU_ANBAU
            - NEUBAU
            - KAPITALBESCHAFFUNG
          example: KAUF
        grundstueckKaufpreis:
          type: number
          description: 'Share of land value (if known) In euros'
          example: 38000.00
          minimum: 0
          maximum: 1000000
        kaufpreis:
          type: number
          description: 'Primary costs to acquire / create the property excluding grundstueckKaufpreis and incidental costs (notary fees, land transfer tax, ...). In euros'
          example: 250000.00
          minimum: 0
          maximum: 10000000
        maklergebuehr:
          type: number
          description: 'Costs for custom brokerage fee. In euros. If there is no brokerage fee for the service received, please send 0 Euro. If the standard fees are to be taken into account, please leave the field blank.'
          example: 200.00
        modernisierungsKostenInklEigenleistungen:
          type: number
          description: 'Costs of the modernization planned in the course of the acquisition, including own contribution. In euros'
          example: 50000.00
          minimum: 0
          maximum: 1000000
        modernisierungEigenleistung:
          type: number
          description: 'Proportion of own contribution to modernization costs. In euros'
          example: 25000.00
          minimum: 0
          maximum: 1000000
        sonderzahlungZumZinsbindungsEnde:
          type: number
          description: 'Amount of the planned special payment at the end of the fixed-interest period. In euros'
          example: 20000.00
        praeferenzen:
          $ref: '#/components/schemas/Praeferenzen'
        darlehenswunsch:
          type: number
          description: 'Desired loan amount'
          example: 250000.00
        herstellungskostenInklusiveEigenleistungen:
          type: number
          description: 'Production costs for new construction'
          example: 250000.00
        grundstueckBereitsBezahlt:
          type: boolean
          description: 'True, if property already paid'
    Anschrift:
      type: object
      required:
        - plz
      properties:
        plz:
          pattern: '[0-9]{5}'
          type: string
          example: 10117
          description: 'zip code'
        ort:
          type: string
          example: Berlin
        strasse:
          type: string
          description: 'street without house number (see field ''hausnummer'')'
        hausnummer:
          type: string
          example: 17a
          description: 'house number'
    Darlehen:
      type: object
      properties:
        wirdAbgeloest:
          type: boolean
          description: 'true, if loan is to be paid off with financing, otherwise false'
        darlehensgeber:
          type: string
          description: Produktanbieter-ID of the loan provider
        grundschuld:
          type: number
          description: land charge entered in the land register
          example: 125867.85
        zinsbindungBis:
          type: string
          format: date
          example: '2022-05-30'
        laufzeitende:
          type: string
          format: date
          example: '2040-05-30'
        restschuld:
          $ref: '#/components/schemas/Restschuld'
        darlehenskontonummer:
          type: string
          description: 'Designation of replacement loan, if loan to be rolled over, otherwise account number'
    Praeferenzen:
      type: object
      properties:
        rate:
          type: number
          description: 'In Euro, monthly'
          example: 850.00
          minimum: 10
          maximum: 10000
        faelligkeitsdatum:
          type: string
          format: date
          description: 'When is the disbursement / redemption of the loan planned?'
          example: '2022-06-30'
        kreditEntscheidungsZeit:
          type: string
          format: date
          description: 'By when is a decision on the part of the product provider desired?'
          example: '2021-04-21'
        laufzeit:
          type: integer
          format: int32
          description: 'By when should the financing be fully repaid? Indication of the term in years'
          example: 25
          minimum: 0
          maximum: 70
        zinsbindungInJahren:
          type: integer
          format: int32
          description: 'Desired fixed interest rate of the loan to be taken out in years'
          example: 10
        tilgung:
          type: number
          description: 'Desired initial repayment of the loan to be concluded in percent'
          example: 2.50
        sondertilgung:
          type: number
          description: 'Deprecated! please use optionaleSondertilgung'
          example: 5.0
          deprecated: true
        sonderzahlung:
          type: number
          description: "Deprecated! Please use sonderzahlungZumZinsbindungsEnde in Finanzierungsbedarf."
          example: 20000.00
          deprecated: true
        optionaleSondertilgung:
          type: number
          description: 'Amount of the desired optional unscheduled repayment during the fixed-interest period in percent'
          example: 5.0
        bereitstellungszinsfreieZeit:
          type: integer
          format: int32
          description: 'Desired provision interest-free period in months'
          example: 6
    Restschuld:
      type: object
      properties:
        aktuell:
          type: number
          description: In Euro
          example: 255879.81
        zumAbloeseTermin:
          type: number
          description: In Euro
          example: 251210.85
    FinanzierungsVorschlaege:
      type: object
      required:
        - vorschlaege
      properties:
        vorschlaege:
          type: array
          items:
            $ref: '#/components/schemas/FinanzierungsVorschlag'
        leadRating:
          type: object
          properties:
            successRating:
              type: string
              description: 'Rating indicates the probability of a transaction being completed. Categories A, B, C and D indicate the probability that a transaction will be successfully completed. A is the best, i.e. most promising, category.'
              example: "B"
            effortRating:
              type: object
              properties:
                rating:
                  type: boolean
                  description: 'Indicator whether the operation is associated with a high workload'
                explanations:
                  type: array
                  items:
                    type: string
                  description: 'Explanations why the process is complex'
            feasibilityRating:
              type: integer
              description: 'Displays the feasibility value'
              example: 50
        nebenkosten:
          type: object
          properties:
            maklergebuehr:
              type: number
              description: 'In euro.'
            notargebuehr:
              type: number
              description: 'In euro.'
            grunderwerbsteuer:
              type: number
              description: 'In euro.'
    FinanzierungsVorschlag:
      type: object
      properties:
        finanzierungsVorschlagId:
          type: string
        annahmeFrist:
          type: string
          format: date
          example: '2021-05-21'
        finanzierungsbausteine:
          maxItems: 2
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Finanzierungsbaustein'
        darlehensSumme:
          type: number
        sollZins:
          type: number
        effektivZins:
          type: number
        beschreibung:
          type: string
          nullable: true
          description: 'A custom name for the proposal'
        kennung:
          type: string
        machbarkeit:
          type: integer
          description: 'Probability with which a loan provider will support this project (1=unlikely 100=very likely)'
          minimum: 1
          maximum: 100
        rank:
          type: integer
          minimum: 0
          example: 0
          description: '0-based rank of this proposal compared to other proposals. The smaller, the better the proposal matches the wish.'
        gesamtRateProMonat:
          type: number
          format: double
        zinsbindungInJahrenMinMax:
          type: string
        vorschlagsOption:
          type: string
        optimierungsMeldungen:
          type: object
          properties:
            machbarkeit:
              type: array
              items:
                $ref: '#/components/schemas/Meldung'
    Meldung:
      type: object
      properties:
        code:
          type: string
        text:
          type: string
    Finanzierungsbaustein:
      required:
        - '@type'
      type: object
      properties:
        '@type':
          type: string
        restschuldNachZinsbindungsEnde:
          type: number
          format: double
        schlussrate:
          type: number
          format: double
        datumLetzteRate:
          type: string
          format: date
          example: '2021-05-21'
        anzahlRaten:
          type: integer
          format: int32
        tilgungssatzInProzent:
          type: number
          format: double
        kostenUeberGesamtlaufzeit:
          type: number
          format: double
      description: 'Possible types: Annuitaetendarlehen, Privatdarlehen, KfwDarlehen'
      discriminator:
        propertyName: '@type'
        mapping:
          ANNUITAETENDARLEHEN: '#/components/schemas/Annuitaetendarlehen'
          PRIVATDARLEHEN: '#/components/schemas/Privatdarlehen'
          KFW_DARLEHEN: '#/components/schemas/KfwDarlehen'
    Annuitaetendarlehen:
      type: object
      allOf:
        - $ref: '#/components/schemas/Finanzierungsbaustein'
        - type: object
          properties:
            darlehensbetrag:
              type: number
              format: double
            annuitaetendetails:
              $ref: '#/components/schemas/Annuitaetendetails'
            bereitstellungszinsfreieZeitInMonaten:
              type: integer
              format: int32
            provision:
              type: number
              description: 'Percentage'
              format: double
            sollZins:
              type: number
              format: double
            effektivZins:
              type: number
              format: double
            rateMonatlich:
              type: number
              format: double
            produktAnbieter:
              type: string
    Privatdarlehen:
      type: object
      allOf:
        - $ref: '#/components/schemas/Finanzierungsbaustein'
        - type: object
          properties:
            darlehensbetrag:
              type: number
              format: double
            laufzeitInMonaten:
              type: integer
              format: int32
            provision:
              type: number
              description: 'Percentage'
              format: double
            zinsbindungInJahren:
              type: integer
              format: int32
            sollZins:
              type: number
              format: double
            effektivZins:
              type: number
              format: double
            rateMonatlich:
              type: number
              format: double
            produktAnbieter:
              type: string
    Annuitaetendetails:
      type: object
      properties:
        zinsbindungInJahren:
          type: integer
          format: int32
        tilgung:
          $ref: '#/components/schemas/Tilgung'
        sondertilgungJaehrlich:
          type: number
          description: 'Percentage'
          format: double
        auszahlungszeitpunkt:
          type: string
          format: date
    KfwDarlehen:
      type: object
      required:
        - darlehensbetrag
        - kfwEndfaellig
        - programm
      allOf:
        - $ref: '#/components/schemas/Finanzierungsbaustein'
        - type: object
          properties:
            darlehensbetrag:
              type: number
              format: double
            kfwEndfaellig:
              type: string
              enum:
                - NEIN
                - ENDFAELLIG_BERECHNET
                - ENDFAELLIG_EIGENES_ANGEBOT
            tilgung:
              $ref: '#/components/schemas/Tilgung'
            programm:
              $ref: '#/components/schemas/KfwProgramm'
    Tilgung:
      required:
        - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: 'Possible types: TilgungInProzent, Volltilger, Rate.'
      discriminator:
        propertyName: '@type'
        mapping:
          TILGUNG_IN_PROZENT: '#/components/schemas/TilgungInProzent'
          VOLLTILGER: '#/components/schemas/Volltilger'
          RATE: '#/components/schemas/Rate'
    TilgungInProzent:
      type: object
      allOf:
        - $ref: '#/components/schemas/Tilgung'
        - type: object
          properties:
            tilgungssatzInProzent:
              type: number
              format: double
            tilgungsbeginn:
              type: string
              format: date
    Volltilger:
      type: object
      allOf:
        - $ref: '#/components/schemas/Tilgung'
        - type: object
          properties:
            tilgungsbeginn:
              type: string
              format: date
    Rate:
      type: object
      allOf:
        - $ref: '#/components/schemas/Tilgung'
        - type: object
          properties:
            rate:
              type: number
              format: double
            tilgungsbeginn:
              type: string
              format: date
    KfwProgramm:
      required:
        - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: 'Possible types: KfwProgramm124, KfwProgramm159,\ \ KfwProgramm261Neubau, KfwProgramm261Sanierung, KfwProgramm262'
      discriminator:
        propertyName: '@type'
        mapping:
          KFW_PROGRAMM_124: '#/components/schemas/KfwProgramm124'
          KFW_PROGRAMM_159: '#/components/schemas/KfwProgramm159'
          KFW_PROGRAMM_261_NEUBAU: '#/components/schemas/KfwProgramm261Neubau'
          KFW_PROGRAMM_261_SANIERUNG: '#/components/schemas/KfwProgramm261Sanierung'
          KFW_PROGRAMM_262: '#/components/schemas/KfwProgramm262'
    KfwProgramm124:
      required:
        - laufzeitInJahren
        - tilgungsfreieAnlaufjahre
        - zinsbindungInJahren
      type: object
      description: 'Wohneigentum Schaffen: Selbstgenutztes Eigentum (Programm-Nr.:\ \ 124)'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            laufzeitInJahren:
              maximum: 25
              minimum: 1
              type: integer
              format: int32
            zinsbindungInJahren:
              type: integer
              description: 5 oder 10 Jahre
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 3
              minimum: 1
              type: integer
              format: int32
    KfwProgramm159:
      required:
        - tilgungsfreieAnlaufjahre
      type: object
      description: 'Wohnraum Modernisieren: Altersgerecht Umbauen (Programm-Nr.: 159)'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            laufzeitInJahren:
              maximum: 30
              minimum: 4
              type: integer
              format: int32
            zinsbindungInJahren:
              type: integer
              description: 5 oder 10 Jahre
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 5
              minimum: 1
              type: integer
              format: int32
    KfwProgramm261Neubau:
      type: object
      description: 'Energieeffizient Bauen: bauen oder kaufen (Programm-Nr.: 261).\ \ Die Zinsbindung beträgt immer 10 Jahre.'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            kfwEnergieEffizienzStandard:
              type: string
              description: 'Allowed values are: STANDARD_40_PLUS, STANDARD_40, STANDARD_40_EEK,\ \ STANDARD_55, STANDARD_55_EEK'
              enum:
                - STANDARD_40
                - STANDARD_40_PLUS
                - STANDARD_40_EEK
                - STANDARD_55
                - STANDARD_55_EEK
                - STANDARD_70
                - STANDARD_70_EEK
                - STANDARD_85
                - STANDARD_85_EEK
                - STANDARD_100
                - STANDARD_100_EEK
                - STANDARD_DENKMAL
                - STANDARD_DENKMAL_EEK
            laufzeitInJahren:
              maximum: 30
              minimum: 4
              type: integer
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 5
              minimum: 1
              type: integer
              format: int32
    KfwProgramm261Sanierung:
      type: object
      description: 'Energieeffizient Sanieren: sanieren oder ein frisch saniertes\ \ Effizienzhaus kaufen (Programm-Nr.: 261). Die Zinsbindung beträgt immer\ \ 10 Jahre.'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            kfwEnergieEffizienzStandard:
              type: string
              description: 'Allowed values are: STANDARD_40, STANDARD_40_EEK, STANDARD_55,\ \ STANDARD_55_EEK, STANDARD_70, STANDARD_70_EEK, STANDARD_85, STANDARD_85_EEK,\ \ STANDARD_100, STANDARD_100_EEK, STANDARD_DENKMAL, STANDARD_DENKMAL_EEK'
              enum:
                - STANDARD_40
                - STANDARD_40_PLUS
                - STANDARD_40_EEK
                - STANDARD_55
                - STANDARD_55_EEK
                - STANDARD_70
                - STANDARD_70_EEK
                - STANDARD_85
                - STANDARD_85_EEK
                - STANDARD_100
                - STANDARD_100_EEK
                - STANDARD_DENKMAL
                - STANDARD_DENKMAL_EEK
            kfwSanierungsFahrplanLiegtVor:
              type: boolean
            laufzeitInJahren:
              maximum: 30
              minimum: 4
              type: integer
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 5
              minimum: 1
              type: integer
              format: int32
    KfwProgramm262:
      type: object
      description: 'Energieeffizient Bauen und Sanieren: Einzelmaßnahmen (Programm-Nr.:\ \ 262). The fixed interest period is always 10 years.'
      allOf:
        - $ref: '#/components/schemas/KfwProgramm'
        - type: object
          properties:
            kfwSanierungsFahrplanLiegtVor:
              type: boolean
            laufzeitInJahren:
              maximum: 30
              minimum: 4
              type: integer
              format: int32
            tilgungsfreieAnlaufjahre:
              maximum: 5
              minimum: 1
              type: integer
              format: int32
    VorschlagBookmarkRequest:
      type: object
      required:
        - anfrageId
        - vorgangId
        - finanzierungsVorschlagId
      properties:
        anfrageId:
          type: string
          description: 'The supplied anfrageId from the determination of the proposals'
        vorgangId:
          type: string
          description: 'The Id of an existing case'
        finanzierungsVorschlagId:
          type: string
          description: 'The identifier of a determined proposal'
        beschreibung:
          type: string
          maxLength: 66
          description: 'A custom name for the proposal'
    VorschlagResponse:
      type: object
      properties:
        message:
          type: string
    VorschlagAcceptRequest:
      type: object
      required:
        - finanzierungsVorschlagId
        - vorgangId
      properties:
        anfrageId:
          type: string
          description: 'The supplied anfrageId from the determination of the proposals'
        vorgangId:
          type: string
          description: 'The Id of an existing case'
        finanzierungsVorschlagId:
          type: string
          description: 'The identifier of a determined proposal'
    VorschlagDeleteRequest:
      type: object
      required:
        - finanzierungsVorschlagId
        - vorgangId
      properties:
        vorgangId:
          type: string
          description: 'The Id of an existing case'
        finanzierungsVorschlagId:
          type: string
          description: 'The identifier of a bookmarked proposal'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
