name: Pull-Request

on:
  pull_request: { }
concurrency:
  group: ${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: [ ubuntu-latest ]
    env:
      TZ: Europe/Berlin
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Build
        run: ./gradlew build