name: Api Release

on:
  push:
    branches:
      - fix-release
    paths:
      - 'api/baufi-passende-vorschlaege-api.yaml'
jobs:
  release:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Berlin
    steps:
      - name: Get current date
        id: date
        run: echo "date=$(date +'%d-%m-%Y-%H-%M')" >> "$GITHUB_OUTPUT"
      - name: Set branch name
        id: set_branch
        run: echo "prepare_version_branch=release/bump-api-${{ steps.date.outputs.date }}" >> "$GITHUB_OUTPUT"
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: fix-release
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Create prepare version branch
        run: |
          git config --global user.email ${{secrets.USER_MAIL}}
          git config --global user.name ${{secrets.USER_NAME}}
          git checkout -b "${{ steps.set_branch.outputs.prepare_version_branch }}"
      - name: Release with Gradle
        env:
          GITHUB_TOKEN: ${{secrets.RELEASE_TOKEN}}
          PREPARE_VERSION_BRANCH: ${{ steps.set_branch.outputs.prepare_version_branch }}
        run: |
          echo "Debug: PREPARE_VERSION_BRANCH=$PREPARE_VERSION_BRANCH"
          ./gradlew release --no-daemon
      - name: Push release branch and tags
        run: |
          git push origin "${{ steps.set_branch.outputs.prepare_version_branch }}"
          git push origin --tags

  pull-request-prepare-version:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.release.outputs.prepare_version_branch }}
          fetch-depth: 0
      - name: Create PR back to main
        env:
          GITHUB_TOKEN: ${{secrets.PVS_API_UPDATE}}
        run: |
          gh pr create \
            --title "chore(release): version bump" \
            --body "Automated version bump commit generated by Gradle release." \
            --base main \
            --head "${{ needs.release.outputs.prepare_version_branch }}"
      - name: Enable auto-merge
        env:
          GITHUB_TOKEN: ${{secrets.PVS_API_UPDATE}}
        run: |
          PR_URL="$(gh pr view "${{ needs.release.outputs.prepare_version_branch }}" --json url -q .url)"
          gh pr merge --auto --merge "$PR_URL"