name: Api Release

on:
  push:
    branches:
      - main
    paths:
      - 'api/baufi-passende-vorschlaege-api.yaml'
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Berlin
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: main
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Release with Gradle
        env:
          GITHUB_TOKEN: ${{secrets.RELEASE_TOKEN}}
        run: |
          git config --global user.email ${{secrets.USER_MAIL}}
          git config --global user.name ${{secrets.USER_NAME}}
          ./gradlew release
